<a href='https://github.com/angular/angular.js/edit/master/src/ng/http.js?message=docs($httpParamSerializerJQLike)%3A%20describe%20your%20change...#L59' class='improve-docs btn btn-primary'><i class="glyphicon glyphicon-edit">&nbsp;</i>Improve this Doc</a>



<a href='https://github.com/angular/angular.js/tree/master/src/ng/http.js#L59' class='view-source pull-right btn btn-primary'>
  <i class="glyphicon glyphicon-zoom-in">&nbsp;</i>View Source
</a>


<header class="api-profile-header">
  <h1 class="api-profile-header-heading">$httpParamSerializerJQLike</h1>
  <ol class="api-profile-header-structure naked-list step-list">
    
  

    <li>
      - service in module <a href="api/ng">ng</a>
    </li>
  </ol>
</header>



<div class="api-profile-description">
  <p>Alternative $http params serializer that follows jQuery&#39;s <a href="http://api.jquery.com/jquery.param/"><code>param()</code></a> method logic.</p>

</div>




<div>
  

    

  

  
  
  



  
</div>


